@font-face {
  font-family: 'Sombrero';
  src: url('assets/SombreroLight.ttf');
}

* {
  font-family: 'Sombrero';
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1)
    ),
    url('./assets/negative-space-bright-yellow-brick.jpg');
  background-size: cover;
  height: 100%;
  /* margin: 0 auto; */
  text-align: center;
  color: rgb(34, 35, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  max-width: 80%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 8vmax;
  margin: 0;
  text-shadow: 3px 3px 3px rgb(255, 255, 255, 0.8);
}

img {
  height: 17vh;
  width: auto;
  border-radius: 5px;
  border: 8px solid white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 10px;
}

button {
  font-size: 4vw;
  justify-self: center;
  text-align: center;
  justify-content: center;
  color: white;
  border-radius: 5%;
  padding: 10;
  background-color: rgb(27, 29, 79);
}

#button:hover {
  background-color: #8e863e;
}

#button:active {
  background-color: #8e863e;
  box-shadow: 10px 10px 5px #2a2a2a;
  transform: translateY(4px);
}

#guesses {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 6vw;
  text-shadow: 3px 3px 3px rgb(255, 255, 255, 0.8);
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.no-click {
  pointer-events: none;
}

@media screen and (max-width: 560px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  img {
    max-height: 10vh;
  }
}
