@font-face {
  font-family: 'Sombrero';
  src: url('assets/SombreroLight.ttf');
}

* {
  font-family: 'Sombrero';
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url('./assets/negative-space-bright-yellow-brick.jpg');
  background-size: cover;
  height: 100%;
  text-align: center;
  color: rgb(34, 35, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  max-width: 80%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 7vmax;
  margin: 0;
  text-shadow: 3px 3px 3px rgb(255, 255, 255, 0.8);
}

img {
  height: 15vh;
  width: auto;
  border-radius: 2px;
  border: 0.55vw solid white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 10px;
}

#guesses {
  font-size: 5vmin;
  text-shadow: 3px 3px 3px rgb(255, 255, 255, 0.8);
}

.no-click {
  pointer-events: none;
}

#bottom-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 60%;
}

@media screen and (max-width: 560px) {
  body {
    margin-top: 5vh;
  }

  #container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  #container > * {
    flex: 1 1 1 1 8vh;
  }

  img {
    max-height: 8vh;
  }
}
